<h1>Edit Director: <%= @director.id %></h1>

<form action="/update_director/<%= @director.id %>" class="form-horizontal">
  <div class="form-group">
    <label for="dob" class="col-md-2 control-label">
      DOB
    </label>
    <div class="col-md-10">
      <input type="text" value="<%= @director.dob %>" name="dob" class="form-control" placeholder="DOB">
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-md-2 control-label">
      Name
    </label>
    <div class="col-md-10">
      <input type="text" value="<%= @director.name %>" name="name" class="form-control" placeholder="Name">
    </div>
  </div>

  <div class="form-group">
    <label for="bio" class="col-md-2 control-label">
      Bio
    </label>
    <div class="col-md-10">
      <input type="text" value="<%= @director.bio %>" name="bio" class="form-control" rows="3" placeholder="Bio">
    </div>
  </div>

  <div class="form-group">
    <label for="image_url" class="col-md-2 control-label">
      Image
    </label>
    <div class="col-md-10">
      <input type="text" value="<%= @director.image_url %>" name="image_url" class="form-control" placeholder="Image">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" class="btn btn-primary" value="Update Director">
    </div>
  </div>
</form>
